<div class="container">
  <div class="space-30"></div>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputComplaint1">Complaint</label>
      <input type="text" class="form-control" id="exampleInputComplaint1" placeholder="Complaint">
    </div>
    <button class="btn btn-primary" [routerLink]="['/home']">Submit</button>
  </form>
</div>
